body {
	background-color:#f8f5f1;
}

.first {
	background-color: #ff8303;
	border-radius: 7px;
	height: 500px;
	width: 350px;
	position: absolute;
	left: 150px;
	top: 50px;
}
.second
{
	
	color:white;
	 font-family: Arial, Helvetica, sans-serif;
	font-size:40px;
	margin:80px auto auto 40px;
}
.third
{
	
	color:white;
	font-size:20px;
	line-height:1;
	letter-spacing:1px;
	margin:30px 60px auto 40px;
}

.fourth{
	background-color: #126e82;
	border-radius: 7px;
	height: 500px;
	width: 350px;
	position: absolute;
	left: 490px;
	top: 50px;
}
.fifth{
	background-color: #206a5d;
	border-radius: 7px;
	height: 500px;
	width: 350px;
	position: absolute;
	left: 830px;
	top: 50px;
}
.sixth
{
	margin:30px auto auto 40px;
	width:100px;
}
.seventh
{
	border-radius:24px;
	border:none;
	font-size:16px;
	margin:50px auto auto 40px;
	padding:10px;
	color: #ff8303;
}
.seventh:hover
{
	background-color:#ff8303;
	color:white;
	border:1px solid white;
}
.eigth
{
	border-radius:24px;
	border:none;
	font-size:16px;
	margin:50px auto auto 40px;
	padding:10px;
	color: #126e82;
}
.eigth:hover
{
	background-color:#126e82;
	color:white;
	border:1px solid white;
}
.nine
{
	border-radius:24px;
	border:none;
	font-size:16px;
	margin:50px auto auto 40px;
	padding:10px;
	color: #206a5d;
}
.nine:hover
{
	background-color: #206a5d;
	color:white;
	border:1px solid white;
}

